<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New person</title>
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/newpit.js"></script>
</head>
<body>

<div className="container">
    <div className="row">
        <div className="col-md-11">
            <div className="name-wrapper">

            </div>
            <span>Latitude</span>
            <label for="latitude"></label><input type="text" name="input" value="0" id="latitude">
            <br/>
            <span>longitude</span>
            <label for="longitude"></label><input type="text" name="input" value="0" id="longitude">
            <br/>
            <span>velocity</span>
            <label for="velocity"></label><input type="text" name="input" value="0" id="velocity">
            <br/>
            <span>date</span>
            <label for="date"></label><input type="text" name="input" value="00.00.0000" id="date">
            <br/>
            <input type="button" value="Send" name="parse" id="parse">
        </div>
    </div>
</div>

</body>
</html>